In [1]:
import os
import sys

notebook_dir = os.path.dirname(os.path.abspath("__file__"))
project_dir = os.path.dirname(notebook_dir)

if project_dir not in sys.path:
    sys.path.append(project_dir)

In [2]:
# Import Data
import pandas as pd
tweets_df = pd.read_csv(r"C:\Users\johna\anaconda3\envs\twitter-influence-env\twitter-influence\data\01_raw\top_accounts_details.csv")
tweets_df['date'] = pd.to_datetime(tweets_df['creation_date'], format='%a %b %d %H:%M:%S +0000 %Y')
tweets_df['month_year'] = tweets_df['date'].apply(lambda x: x.strftime('%Y-%m'))
tweets_df['date_day'] = tweets_df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
tweets_df.head()

,tweet_id,creation_date,text,user_id,user_creation_date,username,name,follower_count,following_count,number_of_tweets,...,retweet_count,quote_count,reply_count,retweet,video_view_count,in_reply_to_status_id,quoted_status_id,date,month_year,date_day
0,1640814094822383617,Tue Mar 28 20:32:19 +0000 2023,Grateful to all the first responders and volun...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042583,562683,16792,...,978,31,308,False,NaN,NaN,NaN,2023-03-28 20:32:19,2023-03,2023-03-28
1,1640485381459025920,Mon Mar 27 22:46:08 +0000 2023,We are failing our children. Guns are now the ...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042583,562683,16792,...,23288,2187,16869,False,2833072.0,NaN,NaN,2023-03-27 22:46:08,2023-03,2023-03-27
2,1639039698675937281,Thu Mar 23 23:01:30 +0000 2023,I hope their stories inspire you to help us pr...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042583,562683,16792,...,362,27,547,False,NaN,1.639040e+18,NaN,2023-03-23 23:01:30,2023-03,2023-03-23
3,1639039601623851009,Thu Mar 23 23:01:07 +0000 2023,To celebrate the 13th anniversary of the Affor...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042583,562683,16792,...,2045,152,859,False,442921.0,NaN,NaN,2023-03-23 23:01:07,2023-03,2023-03-23
4,1638956751910215711,Thu Mar 23 17:31:54 +0000 2023,I know so many of you have a story of how acce...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042583,562683,16792,...,641,33,318,False,NaN,1.638957e+18,NaN,2023-03-23 17:31:54,2023-03,2023-03-23

In [3]:
tweets_df['username'].describe()

count            4108
unique            399
top       BBCBreaking
freq              100
Name: username, dtype: object

In [4]:
from scripts.text_processing.sentiment_analysis import SentimentAnalyzer

# sentiment analyser, specify model
analyzer = SentimentAnalyzer('cardiffnlp/twitter-roberta-base-sentiment-latest')

# Get sentiment analysis
tweets_with_sentiment = analyzer.get_sentiment(tweets_df)

C:\Users\johna\anaconda3\envs\twitter-influence-env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [8]:
influence_metrics = tweets_with_sentiment.groupby('user_id').agg(
    {
        'favorite_count': ['sum', 'mean'],
        'retweet_count': ['sum', 'mean'],
        'quote_count': ['sum', 'mean'],
        'reply_count': ['sum', 'mean'],
        'tweet_id': ['count'],
        'name': [lambda x: x.mode().iloc[0] if not x.mode().empty else None],
    }
)

# Flatten the MultiIndex columns
influence_metrics.columns = ['_'.join(col).strip() for col in influence_metrics.columns.values]

# Reset the index to move the 'username' back to a column
influence_metrics.reset_index(inplace=True)
influence_metrics

,user_id,favorite_count_sum,favorite_count_mean,retweet_count_sum,retweet_count_mean,quote_count_sum,quote_count_mean,reply_count_sum,reply_count_mean,tweet_id_count,name_<lambda>
0,428333,53062,5.527292e+02,15198,158.312500,5241,54.593750,13219,137.697917,96,CNN Breaking News
1,759251,31111,3.142525e+02,7766,78.444444,2247,22.696970,14238,143.818182,99,CNN
2,783214,12895176,1.432797e+05,1633633,18151.477778,916167,10179.633333,801782,8908.688889,90,Twitter
3,807095,36194,4.112955e+02,8676,98.590909,1733,19.693182,4318,49.068182,88,The New York Times
4,813286,4583182,4.928153e+04,467980,5032.043011,51158,550.086022,281364,3025.419355,93,Barack Obama
5,2557521,692864,7.873455e+03,57170,649.659091,13272,150.818182,13805,156.875000,88,ESPN
6,5402612,215655,2.156550e+03,37717,377.170000,27542,275.420000,47118,471.180000,100,BBC Breaking News
7,10228272,222573,2.294567e+03,19936,205.525773,5055,52.113402,73747,760.278351,97,YouTube
8,11348282,464893,5.601120e+03,66276,798.506024,4462,53.759036,12278,147.927711,83,NASA
9,14230524,2678559,3.348199e+04,353313,4416.412500,83226,1040.325000,89683,1121.037500,80,Lady Gaga
10,14872237,577381,5.952381e+03,24190,249.381443,2667,27.494845,11404,117.567010,97,Real Madrid C.F.
11,15485441,118624,1.770507e+03,34815,519.626866,1233,18.402985,4031,60.164179,67,Jimmy Fallon
12,15846407,170998,1.727253e+03,10921,110.313131,879,8.878788,7079,71.505051,99,Ellen DeGeneres
13,16409683,4281433,7.381781e+04,447563,7716.603448,105611,1820.879310,132956,2292.344828,58,Britney Spears ðŸŒ¹ðŸš€
14,17919972,36309126,3.743209e+05,6184029,63752.876289,1836052,18928.371134,1175495,12118.505155,97,Taylor Swift
15,18839785,1563999,1.563999e+04,349735,3497.350000,6842,68.420000,54165,541.650000,100,Narendra Modi
16,19397785,97749,2.874971e+03,11693,343.911765,1818,53.470588,2232,65.647059,34,Oprah Winfrey
17,19923144,82129,1.026612e+03,9106,113.825000,1102,13.775000,2474,30.925000,80,NBA
18,21111883,1192707,1.436996e+04,213416,2571.277108,55897,673.457831,73554,886.192771,83,Demi Lovato
19,21447363,1117504,1.241671e+04,108618,1206.866667,35582,395.355556,48752,541.688889,90,KATY PERRY
20,23083404,6360194,6.838918e+04,544113,5850.677419,124195,1335.430108,151077,1624.483871,93,LeBron James
21,23375688,2208340,3.742949e+04,342244,5800.745763,43675,740.254237,71005,1203.474576,59,Selena Gomez
22,25073877,11285315,1.791320e+05,2026806,32171.523810,566927,8998.841270,2551459,40499.349206,63,Donald J. Trump
23,25365536,2850384,3.851870e+04,123101,1663.527027,25633,346.391892,64707,874.418919,74,Kim Kardashian
24,26257166,774904,8.906943e+03,51963,597.275862,11263,129.459770,12127,139.390805,87,SportsCenter
25,26565946,642983,1.260751e+04,67388,1321.333333,21320,418.039216,40351,791.196078,51,Justin Timberlake
26,27195114,1130230,4.709292e+04,260714,10863.083333,42584,1774.333333,38843,1618.458333,24,Drizzy
27,27260086,3030549,3.741419e+04,436612,5390.271605,75667,934.160494,115376,1424.395062,81,Justin Bieber
28,31348594,1639344,1.639344e+04,180168,1801.680000,14572,145.720000,70116,701.160000,100,Akshay Kumar
29,44196397,14023147,1.689536e+05,1519734,18310.048193,214004,2578.361446,901732,10864.240964,83,Elon Musk
30,44409004,7081323,9.569355e+04,662776,8956.432432,83005,1121.689189,106817,1443.472973,74,Shakira
31,50393960,245016,2.784273e+03,34975,397.443182,12154,138.113636,19,0.215909,88,Bill Gates
32,71201743,12977967,1.310906e+05,784641,7925.666667,27039,273.121212,190650,1925.757576,99,Virat Kohli
33,79293791,20791127,2.121544e+05,2264482,23106.959184,484659,4945.500000,247661,2527.153061,98,Rihanna
34,85603854,330709,5.511817e+03,24476,407.933333,3540,59.000000,15253,254.216667,60,jlo
35,96951800,1039188,1.349595e+04,49720,645.714286,4085,53.051948,7254,94.207792,77,FC Barcelona
36,100220864,2924868,2.954412e+04,298833,3018.515152,75320,760.808081,62496,631.272727,99,Bruno Mars
37,101311381,1813103,1.850105e+04,221236,2257.510204,10301,105.112245,68970,703.775510,98,Shah Rukh Khan
38,105119490,2791085,3.823404e+04,315087,4316.260274,36858,504.904110,79751,1092.479452,73,Niall Horan
39,132385468,4049302,4.049302e+04,419783,4197.830000,26595,265.950000,196247,1962.470000,100,Salman Khan
40,145125358,956222,9.562220e+03,47050,470.500000,3417,34.170000,34171,341.710000,100,Amitabh Bachchan
41,155659213,30682452,3.371698e+05,2263906,24878.087912,169799,1865.923077,667689,7337.241758,91,Cristiano Ronaldo
42,158487331,19475255,2.116876e+05,1416878,15400.847826,265661,2887.619565,535509,5820.750000,92,Neymar Jr
43,236699098,1033427,1.476324e+04,47882,684.028571,6864,98.057143,30835,440.500000,70,Kylie Jenner
44,268414482,4525592,7.071238e+04,492468,7694.812500,105796,1653.062500,65307,1020.421875,64,Miley Cyrus
45,335141638,76490954,1.561040e+06,21799370,444885.102041,2225110,45410.408163,2574613,52543.122449,49,ë°©íƒ„ì†Œë…„ë‹¨
46,343627165,458530,4.930430e+03,44687,480.505376,4274,45.956989,7523,80.892473,93,Premier League
47,471741741,213424,2.345319e+03,51139,561.967033,1494,16.417582,13100,143.956044,91,PMO India
48,627673190,1239470,1.441244e+04,61638,716.720930,9620,111.860465,38011,441.988372,86,UEFA Champions League
49,1409798257,17351221,2.409892e+05,5811895,80720.763889,262890,3651.250000,206303,2865.319444,72,BTS_official

In [6]:
print(tweets_df['username'].drop_duplicates())

0           BarackObama
17              bsw5020
23          CivicNation
24         MBK_Alliance
29      ObamaFoundation
             ...
3991              Drake
4000         Aspiration
4002           caffeine
4007       ajayvirmani1
4015      premierleague
Name: username, Length: 399, dtype: object