In [1]:
# read csv 
import pandas as pd
import requests

top_twitter_accounts = pd.read_csv(r"C:\Users\johna\anaconda3\envs\twitter-influence-env\twitter-influence\data\01_raw\top_twitter_accounts.csv")
top_twitter_accounts.head()

,Username_API_search,Username,Name,Description_wiki,Brand_account_wiki,Country_wiki
0,BarackObama,@BarackObama,Barack Obama,44th President of the United States,NaN,United States
1,ElonMusk,@ElonMusk,Elon Musk,"Business magnate, investor, and owner of Twitter",NaN,United States
2,justinbieber,@justinbieber,Justin Bieber,Musician,NaN,Canada
3,katyperry,@katyperry,Katy Perry,Musician,NaN,United States
4,rihanna,@rihanna,Rihanna,Musician,NaN,Barbados

In [2]:
usernames = list(top_twitter_accounts['Username_API_search'])
print(len(usernames))

97

In [3]:
# Get user tweets
responses = []
formatted_data = []
#usernames = list(usernames[2])
for username in usernames:
    print(username)
    querystring = {"username":username,"limit":"100","include_replies":"false"}
    
    url = "https://twitter154.p.rapidapi.com/user/tweets"

    headers = {
        "X-RapidAPI-Key": "154b04f735msh95207f233e150b4p160e64jsnbede5ac2c0cc",
        "X-RapidAPI-Host": "twitter154.p.rapidapi.com"
    }    
        
    response = requests.request("GET", url, headers=headers, params=querystring)
    data = response.json().get('results')
    
    for entry in data:
        formatted_entry = {
            "tweet_id": entry["tweet_id"],
            "creation_date": entry["creation_date"],
            "text": entry["text"],
            "user_id": entry["user"]["user_id"],
            "user_creation_date": entry["user"]["creation_date"],
            "username": entry["user"]["username"],
            "name": entry["user"]["name"],
            "follower_count": entry["user"]["follower_count"],
            "following_count": entry["user"]["following_count"],
            "number_of_tweets": entry["user"]["number_of_tweets"],
            "is_verified": entry["user"]["is_verified"],
            "is_blue_verified": entry["user"]["is_blue_verified"],
            "location": entry["user"]["location"],
            "language": entry["language"],
            'favorite_count': entry["favorite_count"],
            'retweet_count': entry["retweet_count"],
            'quote_count': entry["quote_count"],
            'reply_count': entry["reply_count"],
            'retweet': entry["retweet"],
            'video_view_count': entry["video_view_count"],
            'in_reply_to_status_id': entry["in_reply_to_status_id"],
            'quoted_status_id': entry["quoted_status_id"]

        }
        formatted_data.append(formatted_entry)

BarackObama
ElonMusk
justinbieber
katyperry
rihanna
Cristiano
taylorswift13
narendramodi
realDonaldTrump
ladygaga
YouTube
EllenDeGeneres
KimKardashian
NASA
selenagomez
Twitter
cnnbrk
jtimberlake
BillGates
neymarjr
CNN
britneyspears
nytimes
imVkohli
shakira
ddlovato
KingJames
PMOIndia
BBCBreaking
jimmyfallon
SrBachchan
BTS_twt
ChampionsLeague
realmadrid
MileyCyrus
FCBarcelona
akshaykumar
JLo
espn
BeingSalmanKhan
iamsrk
BrunoMars
Oprah
bts_bighit
NBA
SportsCenter
NiallOfficial
KylieJenner
Drake
premierleague
BBCWorld
sachin_rt
Harry_Styles
KevinHart4real
JoeBiden
wizkhalifa
Louis_Tomlinson
ManUtd
LilTunechi
LiamPayne
instagram
NFL
AmitShah
KendallJenner
iHrithik
chrisbrown
HillaryClinton
Pink
onedirection
zaynmalik
khloekardashian
POTUS
aliciakeys
PlayStation
KAKA
iamcardib
Google
NatGeo
SpaceX
ConanOBrien
EmmaWatson
priyankachopra
NICKIMINAJ
Adele
TheEconomist
deepikapadukone
ArvindKejriwal
BIGHIT_MUSIC
kourtneykardash
whindersson
aamir_khan
ShawnMendes
M10
NetflixBrasil
Reuters
andresiniesta8
ActuallyNPH

In [4]:
tweetdata = pd.DataFrame(formatted_data)
tweetdata

,tweet_id,creation_date,text,user_id,user_creation_date,username,name,follower_count,following_count,number_of_tweets,...,location,language,favorite_count,retweet_count,quote_count,reply_count,retweet,video_view_count,in_reply_to_status_id,quoted_status_id
0,1640814094822383617,Tue Mar 28 20:32:19 +0000 2023,Grateful to all the first responders and volun...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042310,562639,16792,...,"Washington, DC",en,6904,1048,37,416,False,NaN,None,None
1,1640485381459025920,Mon Mar 27 22:46:08 +0000 2023,We are failing our children. Guns are now the ...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042310,562639,16792,...,"Washington, DC",en,124970,23878,2279,17547,False,2982129.0,None,None
2,1639039698675937281,Thu Mar 23 23:01:30 +0000 2023,I hope their stories inspire you to help us pr...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042310,562639,16792,...,"Washington, DC",en,3090,370,28,561,False,NaN,1639039601623851009,None
3,1639039601623851009,Thu Mar 23 23:01:07 +0000 2023,To celebrate the 13th anniversary of the Affor...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042310,562639,16792,...,"Washington, DC",en,12761,2061,153,887,False,449372.0,None,None
4,1638956751910215711,Thu Mar 23 17:31:54 +0000 2023,I know so many of you have a story of how acce...,813286,Mon Mar 05 22:08:25 +0000 2007,BarackObama,Barack Obama,133042310,562639,16792,...,"Washington, DC",en,4543,648,33,325,False,NaN,1638956750886805506,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9492,1439040801883967489,Sat Sep 18 01:37:17 +0000 2021,"Parents of LGBTQ+ children, take note… This is...",90420314,Mon Nov 16 15:54:48 +0000 2009,ActuallyNPH,Neil Patrick Harris,25072335,167,3262,...,Manhattanland,en,1230,84,4,16,False,NaN,None,None
9493,1439035543547961345,Sat Sep 18 01:16:24 +0000 2021,Everybody needs a Pritti in their life. #Jamie...,90420314,Mon Nov 16 15:54:48 +0000 2009,ActuallyNPH,Neil Patrick Harris,25072335,167,3262,...,Manhattanland,en,500,21,8,16,False,NaN,None,None
9494,1439030219797630977,Sat Sep 18 00:55:14 +0000 2021,I keep having to remind myself that this is Ma...,90420314,Mon Nov 16 15:54:48 +0000 2009,ActuallyNPH,Neil Patrick Harris,25072335,167,3262,...,Manhattanland,en,1085,53,7,17,False,NaN,None,None
9495,1439023552980787201,Sat Sep 18 00:28:45 +0000 2021,We’re watching and we’re talking about #JamieM...,90420314,Mon Nov 16 15:54:48 +0000 2009,ActuallyNPH,Neil Patrick Harris,25072335,167,3262,...,Manhattanland,en,279,22,4,14,False,NaN,None,None
9496,1438858378764328965,Fri Sep 17 13:32:24 +0000 2021,I just loved Everybody’s Talking About Jamie. ...,90420314,Mon Nov 16 15:54:48 +0000 2009,ActuallyNPH,Neil Patrick Harris,25072335,167,3262,...,Manhattanland,en,437,31,2,11,False,NaN,None,None

In [5]:
tweetdata = tweetdata.loc[tweetdata['retweet']==False]
tweetdata['user_id'].describe()

count          7852
unique           96
top       145125358
freq            100
Name: user_id, dtype: object

In [6]:
tweetdata.to_csv(r"C:\Users\johna\anaconda3\envs\twitter-influence-env\twitter-influence\data\01_raw\top_accounts_details.csv", index=False)