In [1]:
import os
import sys

notebook_dir = os.path.dirname(os.path.abspath("__file__"))
project_dir = os.path.dirname(notebook_dir)

if project_dir not in sys.path:
    sys.path.append(project_dir)

In [2]:
# Import Data
import pandas as pd
tweets_df = pd.read_csv(r"C:\Users\johna\anaconda3\envs\twitter-influence-env\twitter-influence\data\01_raw\top_accounts_details.csv")
tweets_df

,tweet_id,creation_date,text,username,name,follower_count,following_count,number_of_tweets,is_verified,is_blue_verified,location,favorite_count,retweet_count,quote_count,retweet,video_view_count,in_reply_to_status_id,quoted_status_id
0,1640814094822383617,Tue Mar 28 20:32:19 +0000 2023,Grateful to all the first responders and volun...,BarackObama,Barack Obama,133042728,562697,16792,True,False,"Washington, DC",6091,937,30,False,NaN,NaN,NaN
1,1640485381459025920,Mon Mar 27 22:46:08 +0000 2023,We are failing our children. Guns are now the ...,BarackObama,Barack Obama,133042728,562697,16792,True,False,"Washington, DC",120471,23013,2117,False,2759346.0,NaN,NaN
2,1639039698675937281,Thu Mar 23 23:01:30 +0000 2023,I hope their stories inspire you to help us pr...,BarackObama,Barack Obama,133042728,562697,16792,True,False,"Washington, DC",2999,360,27,False,NaN,1.639040e+18,NaN
3,1639039601623851009,Thu Mar 23 23:01:07 +0000 2023,To celebrate the 13th anniversary of the Affor...,BarackObama,Barack Obama,133042728,562697,16792,True,False,"Washington, DC",12560,2036,151,False,442014.0,NaN,NaN
4,1638956751910215711,Thu Mar 23 17:31:54 +0000 2023,I know so many of you have a story of how acce...,BarackObama,Barack Obama,133042728,562697,16792,True,False,"Washington, DC",4486,637,33,False,NaN,1.638957e+18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4955,1639645533257240576,Sat Mar 25 15:08:52 +0000 2023,The Red Devils are up and running üÜô\n\nKylelee...,premierleague,Premier League,39874476,83,146798,False,False,NaN,3726,167,11,False,162839.0,NaN,NaN
4956,1639638863277887488,Sat Mar 25 14:42:22 +0000 2023,What a player üëè\n\n@LFC beat Fulham to continu...,premierleague,Premier League,39874476,83,146798,False,False,NaN,2538,112,11,False,129775.0,NaN,NaN
4957,1639637020330065922,Sat Mar 25 14:35:03 +0000 2023,"The crossbar denies @OfficialBHAFC not once, b...",premierleague,Premier League,39874476,83,146798,False,False,NaN,1050,63,0,False,126872.0,NaN,NaN
4958,1639633349521317888,Sat Mar 25 14:20:28 +0000 2023,Results from the penultimate round of Group A ...,premierleague,Premier League,39874476,83,146798,False,False,NaN,1432,77,3,False,NaN,NaN,NaN
4959,1639626437899722753,Sat Mar 25 13:53:00 +0000 2023,‚úÖ Right foot\n‚úÖ Left foot\n‚úÖ Headers\n\nSit ba...,Arsenal,Arsenal,21465562,130936,103612,True,False,London,25627,3477,404,True,999289.0,NaN,NaN

In [ ]:
from scripts.text_processing.sentiment_analysis import SentimentAnalyzer


# Create an instance of SentimentAnalyzer
# MODEL = 'cardiffnlp/twitter-roberta-base-sentiment-latest'
analyzer = SentimentAnalyzer('cardiffnlp/twitter-roberta-base-sentiment-latest')

# Get sentiment analysis
tweets_with_sentiment = analyzer.get_sentiment(tweets_df)

C:\Users\johna\anaconda3\envs\twitter-influence-env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
tweets_with_sentiment